.menu {
  background-color: black;
  height: 145px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

.p {
  font-size: medium;
}

.white {
  color: white;
}

.test-button-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}

.test-button {
  text-align: center;
  width: 200;
  height: 100;
}